* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 3px; 
    height: 3px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; 
}


::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffe6;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}

.box-logo-bands-cloud {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: blueviolet;
}

#logo-bands-cloud-page-art {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Baumans', sans-serif;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#icon-bands-cloud-page-art {
    font-size: 3rem;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.row {
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 10px; 
    margin: 0 auto;
}

.col-8, .col-4 {
    background-color: #f2f2f2;
    border: 1px solid blueviolet;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.col-8 {
    flex: 1 1 calc(43.33% - 20px); 
    height: 70vh;
    padding: 2rem;
    overflow-y: scroll;
    overflow-x: none;
}

.col-4 {
    flex: 1 1 calc(43.33% - 20px); 
    padding: 2rem;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: none;
}

h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    color: blueviolet;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h4{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: blueviolet;
    padding: 1rem;
    border-top-style: double;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: double;
}

.form-login-bands-cloud {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

form{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    width: 17.77vw;
    padding: 5px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
    text-align: center;
    color: blueviolet;
    border-radius: 5px;
    border: 1px solid blueviolet;
    background-color: #f2f2f2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#input-form-bands-cloud {
    width: 17.77vw;
    background-color: transparent;
    border: 1px solid blueviolet;
    border-radius: 5px;
    outline: none;
    padding: 1.5px;
    color: #555;
    text-align: center;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
}

#btn-color-form-bands-cloud{
    width: 17.77vw;
    background-color: transparent;
    border: 1px solid blueviolet;
    border-radius: 5px;
    outline: none;
    color: blueviolet;
    padding: 1.5px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.15rem;
    font-family: "Barlow Condensed", sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 1s ease;
}


#btn-color-form-bands-cloud:hover{
    background-color: blueviolet;
    color: #ffffff;
}

.icons-login-bands-cloud{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#icon-login-form-bands-cloud{
    padding: 2rem 2.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: blueviolet;
    border-radius: 50%;
    border: 1px solid blueviolet;
    transition: background-color 1s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#icon-login-form-bands-cloud:hover{
    background-color: blueviolet;
    color: #ffffff;
}


/* Responsividade */
@media (max-width: 1200px) {
    .container {
        padding: 5px;
    }

    .col-8, .col-4 {
        flex: 1 1 calc(50% - 20px); 
        padding: 0.5rem;
    }
}

@media (max-width: 900px) {
    .col-8, .col-4 {
        flex: 1 1 calc(100% - 20px);
        height: auto;
        padding: 1.25rem;
    }

    .form-login-bands-cloud {
        padding: 3rem;
    }

    #logo-bands-cloud-page-art {
        font-size: 3rem;
    }

    #icon-bands-cloud-page-art {
        font-size: 2.5rem;
    }

    label{
        width: 70vw;
    }

    #input-form-bands-cloud{
        width: 70vw;
    }

    #btn-color-form-bands-cloud{
        width: 70vw;
    }
}

@media (max-width: 600px) {
    h3 {
        font-size: 1.2rem;
    }

    .box-logo-bands-cloud {
        padding: 1rem;
    }

    .form-login-bands-cloud {
        padding: 2rem;
    }

    #logo-bands-cloud-page-art {
        font-size: 2.5rem; 
    }
}

@media (max-width: 400px) {
    #logo-bands-cloud-page-art {
        font-size: 2rem; 
    }

    .form-login-bands-cloud {
        padding: 1rem;
    }

    .col-8, .col-4 {
        flex: 1 1 100%; 
    }
}
